<div class="container">
    <div class="container-header">
        <!-- <h1>To Pay List</h1> -->
    </div>

    <div class="container-content">
        <div class="register-data">
            <div id="calculator">
                <app-calculator></app-calculator>
            </div>
            <div id="register-board">
                <app-payment-form (buttonRegisterPressed)="addPayment($event)"></app-payment-form>
            </div>
            <div class="total-value">
                <app-total-value [totalValue]="totalValue" [paymentList]="paymentList"></app-total-value>
            </div>
        </div>
        <div>
            <app-to-pay [paymentList]="paymentList" (buttonPaidoutPressed)="paidOut($event)"></app-to-pay>
        </div>
    </div>
</div>

    




