<div>
    <!-- <div class="header">
        <h2>To Pay List</h2>
        <div class="navbar">
            <ul>
                <li>About</li>
            </ul>
        </div>
    </div> --> 

    <div class="main-background">
        <section class="side-section">
            <div>
                <div class="side-component">
                    <app-calculator></app-calculator>
                </div>
                <div class="side-component">
                    <app-payment-form (buttonRegisterPressed)="addPayment($event)"></app-payment-form>
                </div>
                <div class="side-component">
                    <app-total-value [totalValue]="totalValue" [paymentList]="paymentList"></app-total-value>
                </div>
            </div>
        </section>
        <section class="main-section">
            <div>
                <app-to-pay [paymentList]="paymentList" (buttonPaidoutPressed)="paidOut($event)"></app-to-pay>
            </div>
        </section>
        
    </div>
</div>

    




