.header{
    display: flex;
    
    background: rgba(0, 0, 0, 0.733);
    justify-content: space-between;
    align-items: center;
    padding:5px 15px 5px 15px;
}

.main-background{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    
}
.side-section{
    flex: 1;
    margin-left: 15px;

}
.main-section{
    margin: 15px;
    flex: 3;
    background: white;
    border-radius: 4px;

}
.side-component{
    background: white;
    margin: 15px;
}
