
.container {
    display: grid;
    grid-template-columns: auto;

    margin-right: auto;
    margin-left: auto;

    max-width: 90%;
    
    padding-right: 10px;
    padding-left: 10px;



}

.container-header{
    display:inline-table;

    position: relative;
    padding: 5px 5px 5px 5px;

    text-align: center;

}

.container-content{
    display: grid;
    grid-template-columns: 20% 80%;
    padding: 5px 5px 5px 5px;
    


}

.register-data{
    display: grid;
    grid-template-columns: auto;
    
    

}

.total-value{
    display: grid;
    grid-template-columns: auto;


}
#calculator{

    border: 5px;
    border-radius: 2%;
    padding: 5px 5px 5px 5px;
    

    background: linear-gradient(to top right, rgb(255, 255, 255), rgba(231, 231, 231, 0.466));
    filter: brightness(110%);
    width: 210px;

    
}

#register-board{
    padding-top: 30px;
}




