.card-background{
    display: flex;
    flex-direction: column;
    padding: 15px;
    
}

.input-style{
    padding: 5px 0px 5px 0px;
    
}

.box-1{
    text-align: center;
    
} 
.box-2{
    flex-direction: column;
    justify-content: space-between;
    
}
.plus-button{
    text-align: center;
    padding-top:10px;
}
.label{
    text-align: left;
    padding-bottom: 5px;
    padding-left: 23px;
}
