<div class="card-background">
    <mat-label>Bill Tittle</mat-label>
    <input placeholder="bill tittle" [(ngModel)]="billTitle"><br>
    <mat-label>Value</mat-label>
    <input type="number" placeholder="value" [(ngModel)]="value"><br>
    <mat-label>Due Date</mat-label>
    <input type="date" placeholder="Due Date" [(ngModel)]="dueDate">
    <div id="button-section">
        <button mat-fab color="primary" class="register-button" (click)="addPayment()"><span id="plus-button">+</span></button>
    </div>
    
</div>


