
.display-background{
    background-color: rgba(0, 0, 0, 0.808);
    text-align: right;
    height: 35px;
    margin: 10px;
}
.number{
    font-size: 29px; 
    padding-right: 5px; 
    color: aliceblue;
}