<div class="card-background">
    <div style="padding: 10px;" *ngFor="let payment of paymentList">
        <div class="bill-card">
            <div>
                <div>
                    <label>Bill Tittle: </label>{{payment.billTitle}}
                </div>
                <div>
                    <label>Bill Value: </label>{{payment.value}}
                </div>
                <div>
                    <label>Due Date: </label>{{payment.dueDate}}
                </div>
            </div>
            <div>
                <button (click)="paidout(payment)"> Paidout!</button>
            </div>
            
        </div>
    </div>
</div>
